<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/nav.ejs')   %>
            <section class="container-fluid my-5">
                <section class="row justify-content-center">
                    <section class="col-12 col-sm-6 col-md-3 col-lg-6">
                        <h2 class="header mt-4 mb-4 pl-2">Create New Blogs</h2>
                        <form class='form-section form-container' action='/blogs' method='POST'>
                            <%- include('form_fields') %>
                        </form>
                    </section>
                </section>
            </section>
            <!-- footer section-->
            <%- include('../partials/footer.ejs') %>
    </body>

</html>