nav {
    background-color: black;
    color: #FFFFFF !important;
}

.navbar-brand {
    font-size: 26px;
}

.nav-item {
    font-size: 18px;
}

.header {
    border-left: 6px solid red;
}

.form-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgb(12, 2, 2);
}

#help {
    font-size: 12px;
    color: rgb(117, 17, 17)!important;
}


/* create section */


/*footer-section*/

.footer-section {
    border-top: 1px dotted rgb(138, 129, 129);
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 20px;
}


/*details-section*/

.delete:hover {
    cursor: pointer;
}

.icon-section {
    position: absolute;
    right: 40px;
}